html{
    font-family: 'Pretendard', sans-serif;
    font-size: var(--basic-font-pc);
}
p{
    line-height: 140%;
}
.common-frame{
    width: auto;
    margin: 0 3rem;
}
.fwb1{
    font-weight:var(--fw-bold);
    color: #fff;
}
.fwb{
    font-weight:var(--fw-bold);
}

/* 상단 */
.hero1-txt-wrap{
    padding:1rem 0;
    border-bottom:1px solid #fff;
    color: #fff;
    pointer-events: none;
    background-color: #131514;
}
.hero1-txt{
    width:100%;
}
.hero-txt .swiper-slide{
    width:auto;
}
.hero-txt .swiper-wrapper{
    transition-timing-function: linear;
}

.hero-title {
    font-size: calc(100vw/8.5);
    font-weight: 900;
    text-align: center;
}
/* 3d히어로 */
.hero{
    height: 100vh;
    width: 100%;
    min-height: 700px;
    position: relative;
    overflow: hidden;
    background-color: #000;
}
.hero spline-viewer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.hero-content{
    position: absolute;
    top: 50%;
    left: 8%;
    z-index:10;
    transform: translateY(-50%);
    color: #fff;
}
.hero-content p, .hero-content h1{
    margin: 0;
}
.hero-content .intro{
    font-size: var(--fs-bd1);
    font-weight: var(--fw-reg);
    opacity: 0.7;
    margin-bottom: var(--space-small);
}
.hero-content .name{
    font-size: 4rem;
    font-weight: var(--fw-bold);
    line-height: 1.1;
}
.hero-content .job{
    font-size: var(--fs-h4);
    font-weight: var(--fw-reg);
    opacity: 0.6;
    margin-top: var(--space-small);
}


/* 사진과 자격증 내용 */
.profile{
    margin-top: 6rem;
}
.pro-title{
    display: flex;
    gap:1rem;
    margin-bottom: 3rem;
    background-color: #fff;
    z-index: 50;
    padding:1rem 0;
    border-bottom:1px solid #205A98;
}
.pro-title>section{
    flex:1;
}
.pro-title h2{
    font-size: 5rem;
    font-weight: var(--fw-bold);
}
.pro-title h3{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 3rem;
}
.pro-title h3+p{
    margin-bottom: 1rem;
}
.profile1{
    display: flex;
    gap:172px;
    align-items: flex-start;
}
.sticky-figure{
    width:435px;
    position: sticky;
    left:0;
    top:3rem;
}
.sticky-figure figcaption{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}
.profile-desc{
    flex: 1;
    padding-top: 6rem;
}
.profile-desc-grid{
    display: grid;
    gap:3rem 1rem;
    grid-template-columns: 1fr 1fr;
}
.certi{
    grid-column: 1/3;
}
.co h4{
    font-size:1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.co h4+p{
    margin-bottom: 2rem;
}
.co ul{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.co ul li{
    padding:1rem;
    border-radius: 0.5rem;
    background-color: #E2F0FF;
}
.co ul li h5{
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.certi-dl{
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    gap:0.5rem 1rem;
}


/* 스킬 */
.expert{
    margin-top: 6rem;
}
.exp-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}
.exp-title h2 {
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #205A98;
}
.exp-title p {
    font-size: 17px;
    line-height: 20px;
    max-width: 500px;
    word-break: keep-all;
}
.skill-grid{
    display: grid;
    grid-template-columns: repeat(3,minmax(20px,1fr));
    gap:2rem 1rem;
}
.icon{
    margin-bottom: .5rem;
}
.icon-title{
    display: flex;
    align-items: center;
    gap:8px;
    border-bottom:1px solid #205A98;
    margin-bottom: 0.5rem;
}
.icon img{
    height:1.2rem;
}
.skill-grid h4{
    margin-bottom: .5rem;
    font-weight: 700;
    text-transform: capitalize;
}



/* 팝업 */
.popup{
    margin-top: 6rem;
    padding-top: 6rem;
    margin-top: 6rem;
    background: 
    url(../img/pattenrn-check.png) repeat 0 0,
    url(../img/bg-box.jpg) no-repeat 0 calc(100% - 64px) / 100% 561px;
}
.popup h2{
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: center;
    color: #205A98;
}
.popup h2+p{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.popup h2+p+p{
    text-align: center;
    margin-bottom: 8rem;
}
.popup-contents{
    display: flex;
    gap:177px;
}
.popup-txt{
    width:430px;
    color:#fff;
}
.popup-station{
    width:calc(100% - 430px - 177px);
}
.popup-txt h3{
    font-size:1.5rem;
    margin-bottom: 3rem;
    font-weight: 700;
}
.popup-txt p{
    margin-top: 1rem;
}
.popup-img-slider .swiper-wrapper{
    transition-timing-function: linear;
}
/* .popup-img-slider .swiper-slide.swiper-slide-active{
    border: 1px solid #fff;
} */
.popup-txt-slider .swiper-slide{
    background-color: #205A98;
}

/* 포스터 */
.poster{
    padding-top: 6rem;
    border-top: 1px solid #205A98;
}
.poster .common-frame{
    display: flex;
    gap: 172px;
    align-items: flex-start;
}
.poster-title{
    width: 734px;
    position: sticky;
    top: 6rem;
    left: 0;
}
.poster-title h2{
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #205A98;
}
.poster-title h2+p{
    font-size: 3rem;
    margin-bottom: 3rem;
}
.poster-list{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.poster-list>li{
    display: flex;
    gap: 107px;
}
.poster-list>li:nth-of-type(2n){
    flex-direction: row-reverse;
}
.poster-list>li figure{
    width: 500px;
    flex-shrink: 0;
}
.poster-txt{
    flex: 1;
    padding-top: 3rem;
}
.poster-txt h3{
    font-weight: 700;
    margin-bottom: 1rem;
}
.poster-txt p{
    margin-top: 1rem;
}


/* 배너 */
.banner{
    padding:6rem 0;
    background-color: #205A98;
    color:#fff;
    text-align: center;
    margin-top: 6rem;
}
.banner h2{
    font-size:5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.banner h2+p{
    font-size:3rem;
    margin-bottom: 3rem;
}
.banner h2+p+p{
    margin-bottom: 3rem;
}









@media (max-width:1800px){
   .popup {
        margin-top: 6rem;
        padding-top: 6rem;
        margin-top: 6rem;
        background: url(../img/pattenrn-check.png) repeat 0 0,
        url(../img/bg-box.jpg) no-repeat 0 calc(100% - 62px) / 100% 528px;
    }
    .poster-title{
        width: 600px;
    }
}

@media (max-width:1700px){
    .popup {
        background: url(../img/pattenrn-check.png) repeat 0 0,
        url(../img/bg-box.jpg) no-repeat 0 calc(100% - 59px) / 100% 519px;
    }
    .poster .common-frame{
        gap: 1px;
    }
    .poster-title{
        width: initial;
        flex: 1;
    }
    .poster-list>li{
        gap: 1rem;
    }
    .poster-list>li figure{
        width: initial;
        flex-shrink: initial;
        flex: 4;
    }
    .poster-txt{
        flex: 3;
        padding-top: 5rem;
    }
}

@media (max-width:1600px){
    .exp-title{
        flex-direction: column;
    }
    .skill-grid{
        grid-template-columns: repeat(2,minmax(20px,1fr));
    }
    .popup-contents{
        gap:1rem;
    }
    .popup-txt{
        width:calc((100% - 1rem)/2);
        color:#fff;
    }
    .popup-station{
        width:calc((100% - 1rem)/2);
    }
   .popup {
        background: url(../img/pattenrn-check.png) repeat 0 0,
        url(../img/bg-box.jpg) no-repeat 0 calc(100%) / 100% 485px;
    }
}

@media (max-width:1500px){
    .popup {
        background: url(../img/pattenrn-check.png) repeat 0 0,
        url(../img/bg-box.jpg) no-repeat 0 calc(100%) / 100% 438px;
    }
}
@media (max-width:1440px){
    .profile1{
        gap:1rem;
    }
    .sticky-figure{
        width:303px;
        position: sticky;
        left:0;
        top:3rem;
    }
    .popup {
        background: url(../img/pattenrn-check.png) repeat 0 0,
        url(../img/bg-box.jpg) no-repeat 0 calc(100%) / 100% 454px;
    }
    .poster-list>li{
        flex-direction: column;
    }
    .poster-list>li:nth-of-type(2n){
        flex-direction: column;
    }
    .poster-txt{
        padding-top: 1rem;
    }
    .poster-txt h3{
        margin-bottom: 2rem;
    }
}

@media (max-width:1200px){
    .popup {
        background: url(../img/pattenrn-check.png) repeat 0 0,
        url(../img/bg-box.jpg) no-repeat 0 calc(100%) / 100% 407px;
    }
    .poster-txt{
        padding-top: 0rem;
    }
}

@media (max-width:1100px){
    .profile-desc-grid{
        grid-template-columns: 1fr;
    }
    .certi{
        grid-column: initial;
    }
}



@media (max-width:1024px){
    html{
        font-size: var(--basic-font-tab);
    }
    .common-frame{
        width: auto;
        margin: 0 2rem;
    }
    .hero{
        min-height: 500px;
    }
    .pro-title{
        flex-direction: column;
    }
    .popup {
        background: url(../img/pattenrn-check.png) repeat 0 0,
        url(../img/bg-box.jpg) no-repeat 0 calc(100%) / 100% 358px;
    }
}


@media(max-width:768px){
    .pro-title h2 {
        font-size: 2.2rem;
    }
    html{
        font-size: var(--basic-font-mobile);
    }
    .common-frame{
        width: auto;
        margin: 0 1rem;
    }
    .hero{
        min-height: 800px;
    }
    .profile1{
        flex-direction: column;
        align-items: center;
    }
    .sticky-figure {
        width: 70%;
        position: initial;
    }
    .certi-dl{
        display: grid;
        grid-template-columns: 4fr 2fr;
        gap:0.5rem 1rem;
    }
    .certi-dl dt{
        grid-column: 1/3;
    }
    .exp-title h2{
        font-size: 2.5rem;
    }
    .popup-contents{
        flex-direction: column-reverse;
    }
    .popup-txt{
        width: 100%;
        color: #fff;
    }
    .popup-station{
        width: 100%;
    }
    .popup h2{
        font-size: 2rem;
    }
    .popup h2+p{
        font-size: 1.3rem;
    }
/* 포스터 */
    .poster .common-frame{
        flex-direction: column-reverse;
        align-items: stretch;
    } 
    .poster-title{
        position: initial;
        top: initial;
        left: initial;
        text-align: center;
        margin-bottom: 3rem;
    }
    .poster-list>li figure{
        text-align: center;
    }
    .poster-txt{
        text-align: center;
    }
    .poster-title h2{
        font-size: 2rem;
    }
    .poster-title h2+p{
        font-size: 1.3rem;
    }
/* 배너 */
    .banner h2{
        font-size: 2.2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        }
    .banner h2+p{
        font-size: 1.3rem;
        margin-bottom: 3rem;
    }
}
    
    

@media (max-width:500px){
    .popup h2+p+p{
        text-align: center;
        margin-bottom: 4rem;
    }
}
@media(max-width:320px){
    .skill-grid{
        grid-template-columns: repeat(1,minmax(20px,1fr));
    }
}